In [1]:
from sqlalchemy import create_engine, text
from getpass import getpass

In [2]:
# Conexión con la base de datos
DB_USER = 'postgres'
DB_PASSWORD = getpass('Ingrese la contraseña de la base de datos: ')
DB_HOST = 'localhost'
DB_PORT = '5432'
DB_NAME = 'travelixdb'

DATABASE_URL = f'postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}'
engine = create_engine(DATABASE_URL)

In [3]:
# Definir las inserciones SQL
agency_inserts = [
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia A', 'Calle 123', 111111, 'agencia_a@example.com', 'url1')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia B', 'Avenida Principal', 222222, 'agencia_b@example.com', 'url2')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia C', 'Plaza Central', 333333, 'agencia_c@example.com', 'url3')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia D', 'Boulevard Central', 444444, 'agencia_d@example.com', 'url4')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia E', 'Calle 456', 555555, 'agencia_e@example.com', 'url5')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia F', 'Avenida 789', 666666, 'agencia_f@example.com', 'url6')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia G', 'Calle 010', 777777, 'agencia_g@example.com', 'url7')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia H', 'Plaza X', 888888, 'agencia_h@example.com', 'url8')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia I', 'Boulevard Y', 999999, 'agencia_i@example.com', 'url9')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia J', 'Calle Z', 101010, 'agencia_j@example.com', 'url10')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia K', 'Avenida Z1', 1111111, 'agencia_k@example.com', 'url11')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia L', 'Calle 2Z', 1212121, 'agencia_l@example.com', 'url12')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia M', 'Plaza Z3', 1313131, 'agencia_m@example.com', 'url13')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia N', 'Boulevard Z4', 1414141, 'agencia_n@example.com', 'url14')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia O', 'Avenida Z5', 1515151, 'agencia_o@example.com', 'url15')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia P', 'Calle Z6', 1616161, 'agencia_p@example.com', 'url16')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia Q', 'Plaza Z7', 1717171, 'agencia_q@example.com', 'url17')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia R', 'Boulevard Z8', 1818181, 'agencia_r@example.com', 'url18')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia S', 'Avenida Z9', 1919191, 'agencia_s@example.com', 'url19')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia T', 'Calle Z10', 2020202, 'agencia_t@example.com', 'url20')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia U', 'Plaza Z11', 2121212, 'agencia_u@example.com', 'url21')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia V', 'Boulevard Z12', 2222222, 'agencia_v@example.com', 'url22')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia W', 'Avenida Z13', 2323232, 'agencia_w@example.com', 'url23')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia X', 'Calle Z14', 2424242, 'agencia_x@example.com', 'url24')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia Y', 'Plaza Z15', 2525252, 'agencia_y@example.com', 'url25')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia Z', 'Boulevard Z16', 2626262, 'agencia_z@example.com', 'url26')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia AA', 'Avenida Z17', 2727272, 'agencia_aa@example.com', 'url27')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia BB', 'Calle Z18', 2828282, 'agencia_bb@example.com', 'url28')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia CC', 'Plaza Z19', 2929292, 'agencia_cc@example.com', 'url29')",
    "INSERT INTO agency (name, address, fax_number, email, photo_url) VALUES ('Agencia DD', 'Boulevard Z20', 3030303, 'agencia_dd@example.com', 'url30')"
]

In [5]:
# Ejecutar las inserciones SQL
with engine.connect() as connection:
    for sql_insert in agency_inserts:
        connection.execute(text(sql_insert))
    # Confirmar la transacción al finalizar las inserciones
    connection.commit()

print("Se han insertado 30 registros en la tabla AgencyModel utilizando SQL.")

Se han insertado 30 registros en la tabla AgencyModel utilizando SQL.

In [9]:
excursion_inserts = [
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Lunes', '08:00:00', 'Playa A', 'Lunes', '18:00:00', 'Montaña B', 100.00, 'https://example.com/photo1.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Martes', '09:00:00', 'Bosque C', 'Martes', '17:00:00', 'Ciudad D', 120.00, 'https://example.com/photo2.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Miércoles', '10:00:00', 'Lago E', 'Miércoles', '16:00:00', 'Pueblo F', 110.00, 'https://example.com/photo3.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Jueves', '11:00:00', 'Cascada G', 'Jueves', '15:00:00', 'Granja H', 130.00, 'https://example.com/photo4.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Viernes', '12:00:00', 'Parque I', 'Viernes', '14:00:00', 'Reserva J', 90.00, 'https://example.com/photo5.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Sábado', '13:00:00', 'Playa K', 'Sábado', '13:00:00', 'Montaña L', 150.00, 'https://example.com/photo6.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Domingo', '14:00:00', 'Bosque M', 'Domingo', '12:00:00', 'Ciudad N', 95.00, 'https://example.com/photo7.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Lunes', '15:00:00', 'Lago O', 'Lunes', '11:00:00', 'Pueblo P', 140.00, 'https://example.com/photo8.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Martes', '16:00:00', 'Cascada Q', 'Martes', '10:00:00', 'Granja R', 105.00, 'https://example.com/photo9.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Miércoles', '17:00:00', 'Parque S', 'Miércoles', '09:00:00', 'Reserva T', 160.00, 'https://example.com/photo10.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Jueves', '18:00:00', 'Playa U', 'Jueves', '08:00:00', 'Montaña V', 85.00, 'https://example.com/photo11.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Viernes', '19:00:00', 'Bosque W', 'Viernes', '07:00:00', 'Ciudad X', 170.00, 'https://example.com/photo12.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Sábado', '20:00:00', 'Lago Y', 'Sábado', '06:00:00', 'Pueblo Z', 125.00, 'https://example.com/photo13.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Domingo', '21:00:00', 'Cascada AA', 'Domingo', '05:00:00', 'Granja BB', 180.00, 'https://example.com/photo14.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Lunes', '22:00:00', 'Parque CC', 'Lunes', '04:00:00', 'Reserva DD', 80.00, 'https://example.com/photo15.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Martes', '23:00:00', 'Playa EE', 'Martes', '03:00:00', 'Montaña FF', 190.00, 'https://example.com/photo16.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Miércoles', '00:00:00', 'Bosque GG', 'Miércoles', '02:00:00', 'Ciudad HH', 100.00, 'https://example.com/photo17.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Jueves', '01:00:00', 'Lago II', 'Jueves', '01:00:00', 'Pueblo JJ', 200.00, 'https://example.com/photo18.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Viernes', '02:00:00', 'Cascada KK', 'Viernes', '23:00:00', 'Granja LL', 75.00, 'https://example.com/photo19.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Sábado', '03:00:00', 'Parque MM', 'Sábado', '22:00:00', 'Reserva NN', 210.00, 'https://example.com/photo20.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Domingo', '04:00:00', 'Playa OO', 'Domingo', '21:00:00', 'Montaña PP', 110.00, 'https://example.com/photo21.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Lunes', '05:00:00', 'Bosque QQ', 'Lunes', '20:00:00', 'Ciudad RR', 220.00, 'https://example.com/photo22.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Martes', '06:00:00', 'Lago SS', 'Martes', '19:00:00', 'Pueblo TT', 95.00, 'https://example.com/photo23.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Miércoles', '07:00:00', 'Cascada UU', 'Miércoles', '18:00:00', 'Granja VV', 230.00, 'https://example.com/photo24.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Jueves', '08:00:00', 'Parque WW', 'Jueves', '17:00:00', 'Reserva XX', 105.00, 'https://example.com/photo25.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Viernes', '09:00:00', 'Playa YY', 'Viernes', '16:00:00', 'Montaña ZZ', 240.00, 'https://example.com/photo26.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Sábado', '10:00:00', 'Bosque AAA', 'Sábado', '15:00:00', 'Ciudad BBB', 125.00, 'https://example.com/photo27.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Domingo', '11:00:00', 'Lago CCC', 'Domingo', '14:00:00', 'Pueblo DDD', 260.00, 'https://example.com/photo28.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Lunes', '12:00:00', 'Cascada EEE', 'Lunes', '13:00:00', 'Granja FFF', 135.00, 'https://example.com/photo29.jpg')",
       "INSERT INTO excursion (departure_day, departure_hour, departure_place, arrival_day, arrival_hour, arrival_place, price, photo_url) VALUES ('Martes', '13:00:00', 'Parque GGG', 'Martes', '12:00:00', 'Reserva HHH', 270.00, 'https://example.com/photo30.jpg')"]

In [10]:
# Ejecutar las inserciones SQL
with engine.connect() as connection:
    for sql_insert in excursion_inserts:
        connection.execute(text(sql_insert))
    # Confirmar la transacción al finalizar las inserciones
    connection.commit()

print("Se han insertado 30 registros en la tabla ExcursionModel utilizando SQL.")

Se han insertado 30 registros en la tabla ExcursionModel utilizando SQL.

In [13]:
hotel_inserts = [
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel A', 'Calle 123', 3, 'https://example.com/hotel1.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel B', 'Avenida Principal', 4, 'https://example.com/hotel2.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel C', 'Plaza Central', 2, 'https://example.com/hotel3.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel D', 'Boulevard Central', 5, 'https://example.com/hotel4.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel E', 'Calle 456', 3, 'https://example.com/hotel5.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel F', 'Avenida 789', 4, 'https://example.com/hotel6.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel G', 'Calle 010', 2, 'https://example.com/hotel7.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel H', 'Plaza X', 5, 'https://example.com/hotel8.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel I', 'Boulevard Y', 3, 'https://example.com/hotel9.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel J', 'Calle Z', 4, 'https://example.com/hotel10.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel K', 'Avenida Z1', 2, 'https://example.com/hotel11.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel L', 'Calle 2Z', 5, 'https://example.com/hotel12.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel M', 'Plaza Z3', 3, 'https://example.com/hotel13.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel N', 'Boulevard Z4', 4, 'https://example.com/hotel14.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel O', 'Avenida Z5', 2, 'https://example.com/hotel15.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel P', 'Calle Z6', 5, 'https://example.com/hotel16.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel Q', 'Plaza Z7', 3, 'https://example.com/hotel17.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel R', 'Boulevard Z8', 4, 'https://example.com/hotel18.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel S', 'Avenida Z9', 2, 'https://example.com/hotel19.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel T', 'Calle Z10', 5, 'https://example.com/hotel20.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel U', 'Plaza Z11', 3, 'https://example.com/hotel21.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel V', 'Boulevard Z12', 4, 'https://example.com/hotel22.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel W', 'Avenida Z13', 2, 'https://example.com/hotel23.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel X', 'Calle Z14', 5, 'https://example.com/hotel24.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel Y', 'Plaza Z15', 3, 'https://example.com/hotel25.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel Z', 'Boulevard Z16', 4, 'https://example.com/hotel26.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel AA', 'Avenida Z17', 2, 'https://example.com/hotel27.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel BB', 'Calle Z18', 5, 'https://example.com/hotel28.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel CC', 'Plaza Z19', 3, 'https://example.com/hotel29.jpg')",
    "INSERT INTO hotel (name, address, category, photo_url) VALUES ('Hotel DD', 'Boulevard Z20', 4, 'https://example.com/hotel30.jpg')"
]

In [14]:
# Ejecutar las inserciones SQL
with engine.connect() as connection:
    for sql_insert in hotel_inserts:
        connection.execute(text(sql_insert))
    # Confirmar la transacción al finalizar las inserciones
    connection.commit()

print("Se han insertado 30 registros en la tabla HotelModel utilizando SQL.")

Se han insertado 30 registros en la tabla ExcursionModel utilizando SQL.

In [15]:
facility_inserts = [
    "INSERT INTO facility (description) VALUES ('Piscina olímpica')",
    "INSERT INTO facility (description) VALUES ('Gimnasio')",
    "INSERT INTO facility (description) VALUES ('Spa')",
    "INSERT INTO facility (description) VALUES ('Restaurante')",
    "INSERT INTO facility (description) VALUES ('Salón de eventos')",
    "INSERT INTO facility (description) VALUES ('Bar')",
    "INSERT INTO facility (description) VALUES ('Centro de negocios')",
    "INSERT INTO facility (description) VALUES ('Servicio de habitaciones 24 horas')",
    "INSERT INTO facility (description) VALUES ('Wifi gratuito')",
    "INSERT INTO facility (description) VALUES ('Estacionamiento')",
    "INSERT INTO facility (description) VALUES ('Recepción 24 horas')",
    "INSERT INTO facility (description) VALUES ('Consigna de equipaje')",
    "INSERT INTO facility (description) VALUES ('Servicio de lavandería')",
    "INSERT INTO facility (description) VALUES ('Caja fuerte en la habitación')",
    "INSERT INTO facility (description) VALUES ('Transporte al aeropuerto')",
    "INSERT INTO facility (description) VALUES ('Alquiler de bicicletas')",
    "INSERT INTO facility (description) VALUES ('Jardines')",
    "INSERT INTO facility (description) VALUES ('Área de juegos para niños')",
    "INSERT INTO facility (description) VALUES ('Salón de belleza')",
    "INSERT INTO facility (description) VALUES ('Jacuzzi')",
    "INSERT INTO facility (description) VALUES ('Sauna')",
    "INSERT INTO facility (description) VALUES ('Sala de juegos')",
    "INSERT INTO facility (description) VALUES ('Tienda de regalos')",
    "INSERT INTO facility (description) VALUES ('Ascensor')",
    "INSERT INTO facility (description) VALUES ('Acceso para personas con movilidad reducida')",
    "INSERT INTO facility (description) VALUES ('Servicio de despertador')",
    "INSERT INTO facility (description) VALUES ('Biblioteca')",
    "INSERT INTO facility (description) VALUES ('Mascotas permitidas')",
    "INSERT INTO facility (description) VALUES ('Guardería')",
    "INSERT INTO facility (description) VALUES ('Sala de TV compartida')"
]

In [16]:
# Ejecutar las inserciones SQL
with engine.connect() as connection:
    for sql_insert in facility_inserts:
        connection.execute(text(sql_insert))
    # Confirmar la transacción al finalizar las inserciones
    connection.commit()

print("Se han insertado 30 registros en la tabla FacilityModel utilizando SQL.")

Se han insertado 30 registros en la tabla ExcursionModel utilizando SQL.

In [17]:
tourist_type_inserts = [
    "INSERT INTO tourist_type (name) VALUES ('Turista')",
    "INSERT INTO tourist_type (name) VALUES ('Aventurero')",
    "INSERT INTO tourist_type (name) VALUES ('Viajero cultural')",
    "INSERT INTO tourist_type (name) VALUES ('Mochilero')",
    "INSERT INTO tourist_type (name) VALUES ('Ecoturista')",
    "INSERT INTO tourist_type (name) VALUES ('Gastrónomo')",
    "INSERT INTO tourist_type (name) VALUES ('Relax')",
    "INSERT INTO tourist_type (name) VALUES ('Familiar')",
    "INSERT INTO tourist_type (name) VALUES ('Deportista')",
    "INSERT INTO tourist_type (name) VALUES ('Estudiante')",
    "INSERT INTO tourist_type (name) VALUES ('Negocios')",
    "INSERT INTO tourist_type (name) VALUES ('Lujo')",
    "INSERT INTO tourist_type (name) VALUES ('Aventurero extremo')",
    "INSERT INTO tourist_type (name) VALUES ('Amante de la naturaleza')",
    "INSERT INTO tourist_type (name) VALUES ('Amante de la historia')",
    "INSERT INTO tourist_type (name) VALUES ('Música y arte')",
    "INSERT INTO tourist_type (name) VALUES ('Gastronomía internacional')",
    "INSERT INTO tourist_type (name) VALUES ('Relax y spa')",
    "INSERT INTO tourist_type (name) VALUES ('Viaje en pareja')",
    "INSERT INTO tourist_type (name) VALUES ('Viaje en grupo')",
    "INSERT INTO tourist_type (name) VALUES ('Viaje en solitario')",
    "INSERT INTO tourist_type (name) VALUES ('Aventura acuática')",
    "INSERT INTO tourist_type (name) VALUES ('Aventura terrestre')",
    "INSERT INTO tourist_type (name) VALUES ('Aventura aérea')",
    "INSERT INTO tourist_type (name) VALUES ('Aventura subterránea')",
    "INSERT INTO tourist_type (name) VALUES ('Caza de auroras boreales')",
    "INSERT INTO tourist_type (name) VALUES ('Viaje de montaña')",
    "INSERT INTO tourist_type (name) VALUES ('Turismo de compras')",
    "INSERT INTO tourist_type (name) VALUES ('Turismo religioso')",
    "INSERT INTO tourist_type (name) VALUES ('Turismo de crucero')"
]

In [18]:
# Ejecutar las inserciones SQL
with engine.connect() as connection:
    for sql_insert in tourist_type_inserts:
        connection.execute(text(sql_insert))
    # Confirmar la transacción al finalizar las inserciones
    connection.commit()

print("Se han insertado 30 registros en la tabla TouristTypeModel utilizando SQL.")

Se han insertado 30 registros en la tabla ExcursionModel utilizando SQL.